* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    min-height: 100vh;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1024px;
}

/* HEADER (all pages) */ 

.header {
    background-color: #2991d6;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    top: 0;    
}

.header__marca {
    width: 200px;
    height: auto;
    align-content: center;
    
}

.header__logo {
    width: 12rem;
    height: auto;
    align-self: center;
    

}

.nav {
    padding: 1rem;
    letter-spacing: 2px;
    justify-content: space-evenly;

}

.nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-right: 10px;

}


.nav__item {
    margin-left: 16px;
    font-size: small;
    
}

.nav__enlace {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav__enlace:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: aliceblue;
    /*Animacion de derecha a izquierda*/ 
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;

}

.nav__enlace:hover:after {
    /*Tnimacion de dercha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);

} 




/* FOOTER (all pages) */ 

.footer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 1rem;
    min-height: 100px

}


.footer__logo {
    padding: 1rem;
   width: 15rem;

   
}

.footer__contacto {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0,8rem;
    width: 12,5rem;
    text-align: center;
    font-size: small;
    color: #555;
   
}

.footer__texto {
    display: inline-block;
    margin: 1rem;
    width: 20rem;
    font-size: small;
    color: #555;
    line-height: 20px;
    text-align: center;
   
}

/* INDEX - MAIN */ 

.section1 {
    background-color:   #d7e6ef;
    width: 100%;
    height: 800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imagencolegio {
    background-size: 80%;
    align-content: center;
    border-radius: 10px;

}

.piedeimagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    background-color: #d7e6ef;
    width: 100%;
    height: 200px;
    
}

.piedeimagen__manuscrita {
    font-family: halimun;
    font-size:200%;
    margin: 2rem 2rem 1rem 2rem;
    color: #446084;
  
}

.piedeimagen__texto {
    font-size: large;
    color: #52739d;
    padding-bottom: 2rem;
   
}

/* NOSOTROS - MAIN */ 

.main__sistemaeducativo {
    text-align: center;
    font-size: 150%;
    font-family:montserrat;
    color: #555;
    margin-top: 2rem;
    margin-bottom: 1rem;

}
.niveles {
    background-color: #eaeaea;
    color: #777;
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;
    object-fit: cover;
}

.título__nosotros {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2991d6;
    margin-bottom: 1rem;
}

.texto__nosotros {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}

.imagennivel {
    margin: 1rem;
}




/*

.column {
    display:flex;
    color: black;

}





.jardindeinfantes__titulo {
    text-align: center;
    
    font-size: 200%;
    margin: 1rem;
    color: #777;
    margin: 2rem;
    font-size: large;
    font-family: montserrat;
}

.jardindeinfantes {
    flex-direction: column;
    margin: 2rem;
    width: 200%;
    font-family: montserrat;
    line-height: 25px;
    color: #777;

}

.primaria__titulo {
    text-align: center;
    
    font-size: 200%;
    margin: 1rem;
    color: #777;
    margin: 2rem;
    font-size: large;
    font-family: montserrat;
}
.primaria {
    flex-direction: column;
    margin: 2rem;
    width: 200%;
    font-family: montserrat;
    line-height: 25px;
    color: #777;
}

.secundario__titulo {
    text-align: center;
    
    font-size: 200%;
    margin: 1rem;
    color: #777;
    margin: 2rem;
    font-size: large;
    font-family: montserrat;
}

.secundario {
    flex-direction: column;
    margin: 2rem;
    width: 200%;
    font-family: montserrat;
    line-height: 25px;
    color: #777;
}
*/


.contenedordefotos {
    width: 100%;
    height: auto;
}
.fotos {
    display: flex;
    flex-direction:row;
    position:relative;
    align-items: center;
    
    width: 100%;
    height:auto ;
    
    border-radius: 8px;
    align-content: space-between;
    column-gap: 1%;
    justify-content: space-between;
   padding: 1rem;
   
}

.fotos__jardin {
    width: 30%;
    height: auto;
    
    border-radius: 8px;

}

.fotos__primaria {
    width: 30%;
    height: auto;
    
    border-radius: 8px;
}

.fotos__secundario {
    width: 30%;
    height: auto;
   
   border-radius: 8px;
}

.separacion_al_footer {
    height: 8px;
    background-color: rgb(230, 241, 242);
}

/* HISTORIA - MAIN */ 


.historia {
    text-align: center;
    font-size: 150%;
    font-family:montserrat;
    color: #555;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.subtitulo {
    text-align: center;
    font-size: 100%;
    font-family: montserrat;
    color: #777;
    margin: 1rem 1rem 2rem 1rem;
    line-height: 25px;
}
 
.texto1 {
    text-align: left;
    font-size: 100%;
    font-family: montserrat;
    color: #777;
    margin: 2rem;
    line-height: 25px;
}

.contenedorhistoria {
    align-self: center;
}

.historia1 {
    vertical-align: middle;
    width: 70%;
    margin-left: 9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
}

.historia2 {
    vertical-align: middle;
    width: 70%;
    margin-left: 9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    justify-items: center;
}

.titulo1 {
    color: #555;
    text-align: left;
    margin: 2rem;
    font-size: x-large;
    font-family: montserrat;

}

.subtitulo2 {
    color: #777;
    text-align: left;
    margin: 2rem;
    font-size: medium;
    font-family: montserrat;

}

.separacion_al_footer {
    height: 8px;
    background-color: rgb(230, 241, 242);
}

/* VIAJES - MAIN */ 

.imgviaje {
    padding: 10px;
  
}

.viajes {
    text-align: center;
    font-size: 150%;
    font-family:montserrat;
    color: #555;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.imagenes1 {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    margin-bottom: 4rem;
    align-items: center;
}

.img1 {
    left: -100%;
    transform: translate(0);
    transition: left 2s;
}

.titulo {
        color: #777;
        text-align: left;
        margin: 1rem;
        font-size: medium;
        font-family: montserrat;
    
  
}

.texto {
    text-align: left;
    font-size: 100%;
    font-family: montserrat;
    color: #777;
    margin: 2rem;
    line-height: 25px;
}

.texto__lista {
    text-align: left;
    font-size: 100%;
    font-family: montserrat;
    color: #777;
    margin: 2rem 2rem 2rem 3rem;
    line-height: 25px;
}

.titulo__large {
    color: #777;
    text-align: start;
    margin:2rem 1rem 1rem 0px;
    font-size: x-large;
    font-family: montserrat;
    
}

.travel__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    gap: 2rem;
    margin: 4rem 2rem 2rem 2rem;
}

.travel__item {
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    padding: 0;
    overflow: hidden;
}

.travel__imagen {
    width: 110%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 1s;
}

.travel__item:hover .travel__imagen {
    transform: rotate(8deg);

}

.imagenes2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.img3 {
    width: 300px;
}

.img4 {
    width: 300px;
}

.img5 {
    width: 300px;
}



.imagenes3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}

.img6 {
    width: 300px;
    margin-left: 10rem;
    height: 400px;
}

.img7 {
    width: 300px;
}

.img8 {
    width: 300px;
    margin-right: 10rem;
    height: 500px;
}

.separacion_al_footer {
    height: 8px;
    background-color: rgb(230, 241, 242);
}

/* CONTACTO - MAIN */ 

.contacto {
    text-align:  start;
    font-size: 150%;
    color: #555;
    font-family: montserrat;
    margin: 2rem 1rem 1rem 1rem;
}

.lineaseparadora {
    margin-bottom: 3rem;
}

.contacto__row {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100vh;
}

.label {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    margin-left: 1rem;
    
}


.input {
    margin-left: 1rem;
    width: 500px;
    height: 30px;
    margin-top: 5px;
    color: #555;
    margin-bottom: 2rem;
}

.input__mensaje {
    margin-left: 1rem;
    width: 500px;
    height: 130px;
    margin-top: 5px;
    color: #555;
    margin-bottom: 2rem;
    text-justify: inter-ideograph;
}

.button {
    color: white;
    background-color: #446084;
    margin-left: 1rem;
    width: 100px;
    height: 40px;
    font: large;
}

.google {
    display: flex;
    margin: 2rem;
    width: 500px;
   
}

.map__imagen {
    margin-right: 1rem;
    float: right;
    top: 20;
    width: 1100px;
    height: 1100px; 
    
}

.separacion_al_footer {
    height: 8px;
    background-color: rgb(230, 241, 242);
}

.header__open {
    display: none;
}

.jam-close-rectangle {
    display: none;
}


@media screen and (max-width: 1023px) {
    .header {
        flex-direction:column;
    }

    .imagencolegio {
        width: 100%;
    }

    .section1 {
        height:100% ;
        width: 100%;
    }

    .piedeimagen__manuscrita {
        font-size: x-large;
        margin: 0 auto;
        justify-self: center;
        text-align: center;
     
    }

    .piedeimagen__texto {
        font-size: medium;
        text-align: center;
    }

    .footer {
        padding: 0;
    }

    .footer__texto {
        font-size: small;
        line-height: 20px;
    }

    .footer__contacto {
        font-size: small;
    }

    .footer__logo {
        width: 200px;
    }


    
    .main__sistemaeducativo {
        font-size: 100%;
    }

    .jardindeinfantes__titulo {
        font-size: medium;
    }

    .jardindeinfantes {
        font-size: medium;
    }

    .primaria__titulo {
        font-size: medium;
    }

    .secundario__titulo {
        font-size: medium;
    }

    .fotos {
        justify-content: space-between;
        justify-items: center;
        width: 100%; ;
        
    }

    .fotos__jardin {
        width: 30%;
        height: 30%;
        
    }

    .fotos__primaria {
        width: 30%;
        height: 30%;
    }

    .fotos__secundario {
        width: 30%;
        height: 30%;
    }

    .historia {
        font-size: 100%;
    }

    .subtitulo {
        font-size: small;
    }

    .texto1 {
        font-size: small;
    }

    .titulo1 {
        font-size: 100%;
    }

    .subtitulo2 {
        font-size: small;
    }

    .historia1 {
        width: 80%;
        
        margin-right: auto;
        margin-left: auto;
        display: table-cell;
        vertical-align: middle;
        
    }

    .historia2 {
        width: 500px;
        margin: 1rem;
        margin-right: auto;
        margin-left: auto;
        display: table-cell;
        vertical-align: middle;
        
    }

    .contenedor{
        width: 100%;
    }

    .viajes {
        font-size: 100%;
    }

    .imagenes1 {
     
        position: relative;
     
      
        
        justify-self: center;
        height: auto;
        align-items: center;
       
    }
   

    .img1 {
        width: 50%;
        height: auto;
      
       
    }

    .img2 {
        width: 50%;
        height: auto;
     
      
    }

    .titulo {
        font-size: medium;
    }

    .titulo__large {
        font-size: medium;
    }

    .texto {
        font-size: small;
    }

    .texto__lista {
        font-size: small;
    }

    .travel__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 300px);
        gap: 3rem;

    }

    .travel__imagen {
        width: 30%;
        gap: 3rem;
        height: auto;
    }

    .contacto {
        font-size: 100%;
        text-align: center;
    }

    .form {
        width: 800px;
        align-self: center;
       
    }

    .label {
        font-size: small;
        align-self:flex-start;
        margin-left: 6rem;
    }

    .input {
        width: 80%;
        align-self: center;
    }

    .input__mensaje {
        width: 80%;
        align-self: center;
    }

    .button {
        width: 15rem;
        font-size: small;
        align-self: center;
        height: 3rem;
    }

    .google {
        width: 100%;
        margin: 1rem;
        justify-self: center;
       
        
       

    }

    .google__maps {
        width: 100%;
        justify-self: center;
        margin-bottom: 2rem;
        margin-right: 2rem;
        
     
    }

    .contacto__row {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 2rem;
    }
}


@media screen and (max-width: 600px) {

    .nav {
        display: none;
    }

    .header {
        width: 100%;
        flex-direction: row;
        
    }

    .header__open {
        margin-right: 1rem;
        display: block;
        font-size: 32px;
        color: white;
        text-decoration: none;
    }

    .header__logo {
        width:70%;
        height: auto;
        margin-left: 1rem;
        
        
    }

    .imagencolegio {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
       
    }

    .main {
        height: 100%;
        min-height: 0;
    }

    .section1 {
        height:130% ;
        width: 100%;
    }

       

    .piedeimagen {
        width: 100%;;
    }

    .piedeimagen__manuscrita {
      
        font-size: 20px;
        width: auto;
        text-align: center;
    }

    .piedeimagen__texto {
        font-size: small;
        text-align: center;
    }

    .footer {
        flex-direction: column-reverse;
        
     
    }

    .footer__direccion {
        line-height: 8px;
    }

    
    .column {
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem;
    }

    .secundario {
        margin: 2rem;
    }

    .secundario__titulo {
        margin: 1rem;
    }

    .fotos {
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
        width: 100%; 
        gap: 1rem;
    }

    .fotos__jardin {
        width: 80%;
    }

    .fotos__primaria {
        width: 80%;
    }

    .fotos__secundario {
        width: 80%;
    }

    .imagenes1 {
        margin: 0 auto;
    }

    .travel__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 300px);
        
    }

    .travel__imagen {
        flex-direction: column;
    }

    .form {
        width: 500px;
        align-self: center;
        text-align: start;
       
    }

    .label {
        font-size: small;
        align-self:flex-start;
        margin-left: 4rem;
        
    }

    .input {
        width: 80%;
        align-self: center;
    }

    .input__mensaje {
        width: 80%;
        align-self: center;
    }

    .imagenes1 {
        flex-direction: column;
        align-content: center;
    }

    .historia2 {
        width: 70%;
        height: auto;

    }

    .img1 {
        width:85%
    }

    .img2 {
        width:85%
    }

    .jam-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    #lateral {
        display: block;
        background:  #446084;
        background-image: linear-gradient(to bottom, #446084, #d7e6ef );
        background-image: linear-gradient(to bottom, #2991d6, #d7e6ef );
        width: 40%;
        height: 100vh;
        opacity: 0.96; 
       position: fixed;
       top: 0;
       right: -100%;
       z-index: 10;
       transition: right 1s;
       padding-left: 5%;
       padding-top: 5%;
      

    }

    #lateral:target {
        right: 0;
        display: block;
        
    }
    

    .nav__lista {
        flex-direction: column;
        align-items: center;
        display: flex;
        position: relative;
        
        line-height: 2.5rem;
    
    }

    .jam-close-rectangle {
       
        font-size: x-large;
        display: block;
        
    }

    .nav__enlace {
        font-size: medium;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }

    

    
}


    


/* 

.google {
    display: flex;
    margin: 2rem;
    width: 500px;
   
}

.map__imagen {
    margin-right: 1rem;
    float: right;
    top: 20;
    width: 1100px;
    height: 1100px; 

.section1 {
    background-color:   #d7e6ef;
    width: 100%;
    height: 800px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

.footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.header__open {
    display: none;
}
*/
